.image-info{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    font-size: 10px;
    color: black;
    background-color: white;
    border-radius: 6px;
    padding-bottom: 10px;
    overflow: scroll;
    cursor: pointer;
    box-shadow:-25px 50px 30px rgba(0,0,0,0.125);
    border:0;
}

.image{
    max-width: 90%;
    margin: 10px;
}

img{
    border-radius: 10px;
}

a{
    text-decoration: none;
}