.image-info{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    font-size: 10px;
    color: black;
    background-color: white;
    border-radius: 18px;
    border: solid 1px wheat;
    padding-bottom: 10px;
    overflow: scroll;


}

.image{
    max-width: 90%;
    margin: 10px;
}

img{
    border-radius: 18px;
}